{
	"name": "elasticsearch_cordra_prov",
	"type": "elasticsearch",
	"url": "{{ elasticsearch.address_scheme }}://{{ elasticsearch.host_ip }}:{{ elasticsearch.http_port }}",
	"access": "proxy",
	"basicAuth": true,
	"basicAuthUser": "{{ elasticsearch.elastic_user }}",
	"secureJsonData": {
		"basicAuthPassword": "{{ elasticsearch.elastic_password }}"
	},
	"jsonData": {
		"esVersion": 70,
		"logLevelField": "",
		"logMessageField": "",
		"maxConcurrentShardRequests": 5,
		"timeField": "metadata/createdOn",
		"tlsSkipVerify": true
	},
	"database": "{{ cordra.cordra_prov_server.index_name }}",
	"typeLogoUrl": "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
}