[Unit]
Description=CORDRA Content Object Repository Discovery and Registration-Resolution Architecture
Wants=network.target
After=mongodb.service elasticsearch.service

[Service]
Type=simple
WorkingDirectory={{ cordra.dir }}
ExecStart={{ cordra.dir }}/startup
ExecStartPost={{ server.apps_dir}}/check_port.sh {{ cordra.http_port }} 60 5
ExecStop={{ cordra.dir }}/shutdown
User={{ server.user }}
Restart=always

[Install]
WantedBy=multi-user.target