[Unit]
Description=Filebeat
Wants=network.target
After=logstash.service

[Service]
Type=simple
WorkingDirectory={{ filebeat.dir }}
ExecStart={{ filebeat.dir }}/filebeat run -e
User={{ server.user }}
Restart=always

[Install]
WantedBy=multi-user.target